.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
    .item-group {
        transition: transform 0.2s;
        /* Animation */
      }

      .item-group:hover {
        color: #0070f3;
        transform: scale(1.1);
      }

      .name-group {
        font-style: center;
        text-align: center;
      }
      .create-group {
        display: flex;
        justify-content: end;
      }
.bg-color{
  background-color: #1c2540;
}
.App {
  width: 100%;
  min-height: 100vh;
}

.pointer{
  cursor: pointer;
}

#row-table{
  border-bottom: none;
}

.choice {
  margin-top: 15px;
  flex-direction: row;
  border-radius: 15px;
  border-width: 2px;
  padding: 25px;
  height: 20%;
  border-style: solid;
  border-color: #A9A9A9;
}

.active{
  font-weight: bold;
}

.options {
  position: relative;
  padding-left: 40px;
}

#options label {
  display: block;
  vertical-align: baseline;
  font-size: 14px;
  cursor: pointer;
}

.options input {
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.options input:checked ~ .checkmark:after {
  display: block;
}

.options .checkmark:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark {
  background: #21bf73;
  transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark:after {
  transform: translate(-50%, -50%) scale(1);
}